*/bin/
*/.gradle/
.idea
*/build/
*/out/
*/.metadata/
*/.recommenders/
*/.settings/
*/simo_files/
*/.gitignore
*build/
*connectors/
*activemq-data/
*.gradle/
*.metadata/
*.recommenders/
*.yml
*.project
*.classpath
*.gitigore
.gitignore
*.classpath
*.log
.settings/
*.lnk
stats_files/*
node_modules/
package-lock.json